body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: red !important;
    padding: 1rem;
}

.button {
    display: flex;
    gap: 1rem;
}

.wrap {
    flex-wrap: wrap;
}

.formCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    width: 50%;
}

.formCreate p {
    width: 100%;
    text-align: center;
}

.formCreate input {
    width: 80%;
}